<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"/>
    <style>
    *{
     margin:0%;
     padding: 0%;
     box-sizing: border-box;
 }
 html,body{
     height: 100%;
     width: 100%;
 }
 img{
     height: 100px;
     width: 100px;

 }
 .nav1 a{
     font-weight: bold;
     color: black;
 }
 .nav1 ul li a:hover{
     color: yellowgreen;
     font-size: 16px;
     text-decoration:dashed;
     transition: 0.3s ease-in;
 }
 .mobileheader ul .menu{
     text-align: center;
     background-color: gray;
     color: white;
     font-weight: bold;
     font-size: 18px;
     margin-top: 2px;
     border-radius:10px;
 }
 .mobileheader li a:hover{
     font-size: 14px;
     transition: 0.3s ease-in;
     color: black;
 }
 .mobileimage img{
     text-align: center;
 }
 .footer1 .heading{
   color: white;
 }
 .footer1 a{
     color: grey;
     text-decoration: none;
     font-size: 13px;
 }
 .footer1 a:hover{
     color: white;
     text-decoration: underline;
 }
  .replace{
  width :400px;
  }
</style>
</head>
<body>
<header class="container-fluid">
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-expand-lg shadow-sm">
                <a href="" class="navbar-brand">
                    <img src="/Logo/websitelogo.png">
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobilemenu">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse nav1 justify-content-center" id="nav">
                    <ul class="navbar-nav me-3">
                        <li class="nav-item me-4">
                            <a href="#" class="nav-link">HOME</a>
                        </li>
                        <li class="nav-item me-4">
                            <a href="#" class="nav-link">JOBS</a>
                        </li>
                        <li class="nav-item me-4">
                            <a href="#" class="nav-link">ABOUT</a>
                        </li>
                        <li class="nav-item me-4">
                            <a href="#" class="nav-link">SERVICE</a>
                        </li>
                    </ul>
                </div>

                <div class="collapse navbar-collapse justify-content-end p-4" >
                    <div class="d-flex me-5" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
                        <button class="btn btn-dark " type="submit">Search</button>
                    </div>
                    <ul class="navbar-nav me-3">
                        <li class="nav-item">
                            <a href="/LoginPage"><button type="button" class="btn btn-primary">Login</button></a>
                        </li>
                    </ul>
                    <ul class="navbar-nav me-3">
                        <li class="nav-item">
                            <a href="/CompanyRegistration"><button type="button" class="btn btn-primary">Sign Up</button></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>
<div class="offcanvas offcanvas-start" tabindex="-1" id="mobilemenu" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title " id="offcanvasExampleLabel">
            <a href="" class="navbar-brand text-center">
                <img src="/Logo/websitelogo.png">
            </a>
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body mobileheader">
        <ul class="navbar-nav ">
            <li class="nav-item menu">
                <a href="#" class="nav-link">HOME</a>
            </li>
            <li class="nav-item menu">
                <a href="#" class="nav-link">HOME</a>
            </li>
            <li class="nav-item menu">
                <a href="#" class="nav-link">JOBS</a>
            </li>
            <li class="nav-item menu">
                <a href="#" class="nav-link">ABOUT</a>
            </li>
            <li class="nav-item menu">
                <a href="#" class="nav-link">LOGIN</a>
            </li>
        </ul>
    </div>
</div>


<div class="mb-4 replace" th:replace="${content}"></div>

<footer class="container-fluid shadow-lg bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-12 imagge">
                <p></p>
            </div>
        </div>
        <div class="row row row-cols-lg-4 row-cols-md-2 row-cols-2 footer1">
            <div class="col mt-4 text-center mb-4">
                <a href="" class="heading">QUICK LINKS</a><br>
                <a href=""><i class="fa-solid fa-angle-right me-2"></i>Home</a><br>
                <a href=""><i class="fa-solid fa-angle-right me-2"></i>Help</a><br>
            </div>
            <div class="col mt-5 text-center  mb-4">
                <a href=""><i class="fa-solid fa-angle-right me-2 mt-3"></i>List Layout</a><br>
                <a href=""><i class="fa-solid fa-angle-right me-2"></i>Contact</a><br>
            </div>
            <div class="col mt-4 text-center mb-4">
                <a href="" class="heading">Contact Us</a><br>
                <a href="" class="mb-3"><i class="fa-solid fa-location-dot me-2"></i>Civil Lines Sagar MP</a><br>
                <a href=""><i class="fa-solid fa-phone me-2"></i>+91 837493242</a><br>
                <a href=""><i class="fa-solid fa-envelope me-2"></i>JobSagar@gmail.com</a><br>
            </div>
            <div class="about1 col mt-5 text-center mb-4 ">
                <a href=""><i class="fa-brands fa-whatsapp me-1"></i></a>
                <a href=""><i class="fa-brands fa-x-twitter me-1"></i></a>
                <a href=""><i class="fa-brands fa-square-facebook me-1"></i></a>
                <a href=""><i class="fa-brands fa-instagram me-1"></i></a>
                <a href=""><i class="fa-brands fa-linkedin me-1"></i></a>
                <a href=""><i class="fa-brands fa-youtube me-1"></i></a>
            </div>
        </div>
        <div class="row row row-cols-12 mb-3 footer1">
            <div class="colv text-center">
                <a href="#">Copyright© 2025, THE PUBLISHING PVT LTD..</a>
            </div>
        </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.min.js" integrity="sha384-RuyvpeZCxMJCqVUGFI0Do1mQrods/hhxYlcVfGPOfQtPJh0JCw12tUAZ/Mv10S7D" crossorigin="anonymous"></script>
</body>
</html>